.period-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  min-height: 100dvh;
  text-align: left;
  transition: opacity 500ms;
  width: 45%;
  opacity: 0;
}

.period-wrapper.visible {
  opacity: 1;
}

.period-wrapper.left {
  align-self: baseline;
}

.period-wrapper.right {
  align-self: end;
}

.period-header {
  display: flex;
  text-align: center;
}

.period-header_title {
  width: 100%;
}

.period-body {
  white-space: pre-line;
}
