.period-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  min-height: 100vh;
  text-align: left;
  width: 45%;
  animation: fade 5s infinite;
  opacity: 0;
}

.period-wrapper.visible {
  opacity: 1;
}

.period-wrapper.left {
  align-self: baseline;
}

.period-wrapper.right {
  align-self: end;
}

.period-header {
  display: flex;
  /* below is example of changing styles based on scroll % */
  /* font-size: calc(12px * 10 * var(--scroll)); */
  text-align: center;
}

.period-header_title {
  width: 100%;
}

.period-button {
  align-self: center;
  background-color: black;
  display: flex;
  width: fit-content;
}

.period-body {
  white-space: pre-line;
}

@keyframes fade {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}
