.article-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  text-align: left;
  transition: opacity 500ms;
  width: 600px;
  opacity: 0;

  &.left {
    align-self: baseline;
  }

  &.right {
    align-self: end;
  }

  &.visible {
    opacity: 1;
  }
}

.article-header {
  display: flex;
  text-align: center;
}

.article-header_title {
  width: 100%;
}

.article-body {
  white-space: pre-line;

  & > p:not(:last-child) {
    margin-bottom: 16px;
  }
}

.article-quote {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}

.article-quote_content {
  font-size: 24px;
  line-height: 32px;
  text-align: center;

  &::before,
  &::after {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
  }

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

.article-quote_speaker {
  margin-top: 8px;
  text-align: end;

  &::before {
    content: '- ';
  }
}
