.wrapper {
  align-items: center;
  background: linear-gradient(var(--colorPrimary), var(--colorNeutral500));
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  padding: 36px 0;
  transition: opacity 3s;
  width: 100%;

  & > * {
    opacity: 0;
    transition: opacity 3s;
  }

  &.visible > * {
    opacity: 1;
  }
}

.logo {
  width: 80%;
  filter: drop-shadow(5px 5px 5px var(--colorNeutral500));
  -webkit-filter: drop-shadow(5px 5px 5px var(--colorNeutral500));
}

.title {
  color: var(--colorNeutral100);
  font-weight: 100;
  font-size: calc(3 * 1.618em);
  padding-top: 20px;
  filter: drop-shadow(5px 5px 5px var(--colorNeutral500));
  -webkit-filter: drop-shadow(5px 5px 5px var(--colorNeutral500));
}

.name {
  display: none;
  /* background: linear-gradient(90deg, var(--colorWhite), var(--colorSecondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
