.wrapper {
  align-items: center;
  background: linear-gradient(var(--colorNeutral500), var(--colorPrimary));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100lvh;
  justify-content: center;
  padding: 36px 0;
  transition: opacity 3s;
  width: 100%;

  & > * {
    opacity: 0;
    transition: opacity 3s;
  }

  &.visible > * {
    opacity: 1;
  }
}

.logo {
  max-width: 1200px;
  width: 80%;
  filter: drop-shadow(5px 5px 5px var(--colorNeutral500));
  -webkit-filter: drop-shadow(5px 5px 5px var(--colorNeutral500));

  @media (max-width: 600px) {
    width: 90%;
  }
}

.title {
  color: var(--colorNeutral100);
  font-weight: 100;
  font-size: calc(3 * 1.618em);
  padding-top: 20px;
  filter: drop-shadow(5px 5px 5px var(--colorNeutral500));
  -webkit-filter: drop-shadow(5px 5px 5px var(--colorNeutral500));
}

.name {
  display: none;
}
