.wrapper {
  align-items: center;
  background: linear-gradient(var(--colorNeutral500), var(--colorPrimary));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100svh;
  justify-content: center;
  padding: 36px 0;
  transition: opacity 3s;
  width: 100%;

  & > * {
    opacity: 0;
    transition: opacity 3s;
  }

  &.visible > * {
    opacity: 1;
  }
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.logoWord {
  display: flex;
  width: auto;

  &.white {
    align-items: flex-start;
    height: 20vh;
    margin-left: -13.5%;
  }

  &.yellow {
    align-items: flex-end;
    height: 20vh;
    justify-content: flex-end;
    margin-right: -13.7%;
  }
}

.letter {
  filter: drop-shadow(5px 5px 5px var(--colorNeutral500));
  -webkit-filter: drop-shadow(5px 5px 5px var(--colorNeutral500));
  height: inherit;
  width: auto;

  &.whiteM {
    height: 102.5%;
  }

  &.whiteE {
    height: 114%;
  }

  &.yellowE {
    height: 105%;
  }
}

.title {
  color: var(--colorNeutral100);
  font-weight: 100;
  font-size: calc(3 * 1.618em);
  padding-top: 20px;
  filter: drop-shadow(5px 5px 5px var(--colorNeutral500));
  -webkit-filter: drop-shadow(5px 5px 5px var(--colorNeutral500));
}

.name {
  display: none;
}
