.app {
  position: relative;
}

.yearWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-inline: 32px;

  @media (max-width: 600px) {
    padding-inline: 8px 0;
  }
}

.sticky {
  bottom: 48px;
  position: fixed;
  right: 32px;
  z-index: 1;

  @media (max-width: 600px) {
    position: sticky;
    top: 0;
  }
}

.hide {
  display: none !important;
}
