.container {
  align-items: normal;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: inherit;
  min-height: 100svh;
  position: relative;
  width: 100%;
}

.contentWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: min-content;
  left: 0;
  max-width: 100%;
  overflow-x: hidden;
  padding: 16px;
  position: sticky;
  top: var(--stickyHeight);
  width: auto;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date {
  font-size: 1em;
}

.lineWrapper {
  background-color: var(--colorSecondary);
  width: 8px;
}

.title {
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
  padding-right: 16px;
  text-shadow: 4px 4px #ffff0050;
}

.subtitle {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2;
  padding-left: 24px;
  position: relative;

  &::after {
    content: '';
    top: -2px;
    bottom: -2px;
    left: 4px;
    width: 4px;
    background-color: #ffff0050;
    position: absolute;
  }
}

.artifactsContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  width: 100%;
}

.imgList {
  display: flex;
  gap: 24px;
}
