.container {
  align-items: stretch;
  background: conic-gradient(from 90deg at 2px 2px, #0000 90deg, #366 0) 0 0/100px 100px,
    conic-gradient(from 90deg at 1px 1px, #0000 90deg, #366 0) 0 0/20px 20px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.contentWrapper {
  box-sizing: content-box;
  flex: 1 1 0;
  padding: 48px 80px;
}

.heading {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date {
  font-size: 1em;
}

.lineWrapper {
  background-color: var(--colorSecondary);
  width: 8px;
}

.title {
  font-size: calc(2 * 1.618em);
  font-weight: 700;
  line-height: 1;
  padding-right: 16px;
  text-shadow: 8px 6px #ffff0050;
}

.subtitle {
  font-size: 1.618em;
  font-weight: 700;
  line-height: 1.2;
  padding-left: 32px;
  position: relative;

  &::after {
    content: '';
    top: 0;
    left: 16px;
    width: 4px;
    height: 90%;
    background-color: var(--colorSecondary);
    position: absolute;
  }
}

.artifactsContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-top: 48px;
  width: 100%;
}
