.container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 100;
  margin-inline: auto;
  max-width: 1440px;
  min-height: 100dvh;
  width: 100%;
}

.dateWrapper {
  padding: 80px 0;
  width: 300px;
}

.date {
  left: 0;
  position: sticky;
  top: 10%;
}

.lineWrapper {
  background-color: var(--colorSecondary);
  width: 8px;
}

.heading {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.title {
  font-size: 64px;
  font-weight: 700;
  padding-right: 16px;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  padding-left: 16px;
  position: relative;

  &::after {
    content: '';
    top: -8px;
    left: -4px;
    width: 4px;
    height: 90%;
    background-color: var(--colorSecondary);
    position: absolute;
  }
}

.contentWrapper {
  background-color: gray;
  box-sizing: content-box;
  flex: 1 1 0;
  padding: 80px;
}
