.header-wrapper {
  align-items: center;
  background: linear-gradient(var(--colorPrimary), var(--colorNeutral500));
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  padding: 16px 24px;
  transition: opacity 200ms;
  width: 100%;
}

.header-wrapper.hidden > * {
  opacity: 0;
}

.header-logo {
  width: 80%;
  filter: drop-shadow(5px 5px 5px var(--colorNeutral500));
  -webkit-filter: drop-shadow(5px 5px 5px var(--colorNeutral500));
}

.header-title {
  font-weight: 100;
  font-size: 128px;
  color: var(--colorNeutral100);
}

.header-name {
  display: none;
  /* background: linear-gradient(90deg, var(--colorWhite), var(--colorSecondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
