.barWrapper {
  // background-color: var(--colorBlack);
  position: fixed;
  width: 100%;
  height: 8px;
  bottom: 0;
  max-width: 100vw;
}

.progressBar {
  background-color: var(--colorSecondary);
  height: 100%;
}
