.wrapper {
  align-items: center;
  background: linear-gradient(var(--colorPrimary), var(--colorNeutral500));
  display: grid;
  height: 100lvh;
  padding: 80px 0 24px;
  width: 100%;
}

.footerSpotify {
  justify-self: center;
}

.socialContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.socialList {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 80px);
}

.socialLink {
  a {
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    height: 80px;
    padding: 16px;
    transition: background-color 150ms;
    width: 80px;
  }

  svg {
    height: 100%;
    width: 100%;
  }

  &.appleMusic {
    a:hover {
      background-color: var(--colorApple);
    }
  }
  &.instagram {
    a:hover {
      background-color: var(--colorInstagram);
    }
  }
  &.spotify {
    a:hover {
      background-color: var(--colorSpotify);
    }
  }
  &.youtubeMusic {
    a:hover {
      background-color: var(--colorYouTube);
    }
  }
}

.footerCreds {
  align-self: flex-end;
  color: var(--colorNeutral200);
  display: flex;
  font-size: 0.88em;
  gap: 24px;
  justify-content: space-between;
  justify-self: center;
  margin-top: 24px;
  max-width: 1440px;
  width: 100%;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
}

.createdBy a {
  text-decoration: underline;
}
