.sectionWrapper {
  --yearHeight: 100%;

  display: flex;
  gap: 24px;
  max-width: 800px;
  width: 100%;

  @media (max-width: 600px) {
    gap: 8px;
  }

  &:last-child {
    --yearHeight: 100%;
  }
}

.yearTrack {
  position: relative;
  width: 54px;

  &::before {
    background-color: var(--colorSecondary);
    border-radius: 0;
    content: '';
    height: var(--yearHeight);
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 4px;
  }
}

.yearTitle {
  --stickyHeight: 160px;

  aspect-ratio: 1;
  background-color: var(--colorSecondary);
  border-radius: 50%;
  color: var(--colorPrimary);
  display: inline-block;
  height: min-content;
  left: 0;
  padding: 16px 0;
  position: sticky;
  text-align: center;
  top: var(--stickyHeight);
  width: 100%;
}

.storyWrapper {
  --storyGap: 150px;

  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: var(--storyGap);
  padding-bottom: var(--storyGap);
  position: relative;
}
