.sectionWrapper {
  display: flex;
  max-width: 100%;
  position: relative;
}

.sectionTitle {
  height: fit-content;
  left: 0;
  padding: 16px;
  position: sticky;
  top: 42px;
  width: 54px;
}

.storyWrapper {
  flex: 1 1 0;
}
