.sectionWrapper {
  display: flex;
  max-width: 100%;
  position: relative;
}

.sectionTitle {
  // aspect-ratio: 1;
  height: min-content;
  left: 0;
  padding: 16px;
  position: sticky;
  top: 42px;
  width: 54px;
}

.storyWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 150px;
}
